<a href="https://colab.research.google.com/github/ekotyoo/Racana/blob/Machine_Learning/Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.7 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633724 sha256=f266579d1a198eca9668ae1326d6d0a04d9898042c9ba6647ccefb0bac7cc430
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import surprise as sp 
import tensorflow as tf

from tensorflow import keras
from collections import deque
from surprise.model_selection import cross_validate
from keras.layers import Input, Embedding, Reshape, Dot, Concatenate, Dense, Dropout
from keras.models import Model
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from sklearn.metrics import mean_squared_error

In [ ]:
!pip install -U -q PyDrive

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials


# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link = 'https://drive.google.com/file/d/1Fjjh_nSMWssHE4Ncv7aURngnN5wsfJ_y/view'


# to get the id part of the file
id = link.split("/")[-2]

downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('tourism_with_id.csv')

place = pd.read_csv('tourism_with_id.csv')
print(place)

    Place_Id                     Place_Name  \
0          1              Agrowisata Satria
1          2                     Agung Bali
2          3  Wisata Air Panas Toya Bungkah
3          4         Air Terjun Aling-Aling
4          5          Air Terjun Tegenungan
..       ...                            ...
70        71         Teras Sawah Tegalalang
71        72                   Tirta Gangga
72        73                  Waterbom Bali
73        74       Alas Harum Agro Tourism
74        75     Wisata Agro Teba Sari Bali

                                          Description  Weekend Holiday Price  \
0   Agrowisata Satria menawarkan 'rasa' Bali pada ...                  50000
1   Dapatkan berbagai produk oleh-oleh khas Bali b...                      0
2   Pemandian air panas di dekat gunung Batur (Pem...                  70000
3   Keberadaan air terjun ini semakin mempercantik...                  20000
4   Bosan dengan wisata alam pantai dan ingin meni...                  20000
..                                                ...                    ...
70  Uniknya Tegallalang Rice Terrace di Bali ini, ...                  10000
71  Ada tiga hal utama yang ada di taman Tirta Gan...                  25000
72  Waterbom merupakan sebuah oase di jantung kawa...                 289000
73  Alas Harum Bali merupakan destinasi wisata yan...                  10000
74  Dalam kawasan Wisata Agro Teba Sari Bali, peng...                      0

    Weekday Price    Category        City  Rating  \
0           50000  Agrowisata     Gianyar     3.0
1               0     Belanja      Badung     4.0
2           70000        Alam      Bangli     4.0
3           20000        Alam    Buleleng     4.5
4           20000        Alam     Gianyar     4.0
..            ...         ...         ...     ...
70          10000  Agrowisata     Gianyar     4.0
71          25000    Religius  Karangasem     4.5
72         289000    Rekreasi      Badung     4.5
73          10000  Agrowisata     Gianyar     4.0
74              0  Agrowisata     Gianyar     4.0

                                               Alamat  \
0    Manukaya, Kec. Tampaksiring, Kabupaten Gianya...
1           Jln. Dewi Sri No.18XX, Kuta, Badung, Bali
2   Batur Tengah, Kec. Kintamani, Kabupaten Bangli...
3   Jl. Raya Desa Sambangan, Banjar, Sambangan, Ke...
4   Jl. Ir. Sutami, Kemenuh, Kec. Sukawati, Kabupa...
..                                                ...
70  Jl. Raya Tegallalang, Tegallalang, Kec. Tegall...
71  Jalan Raya Abang Desa Adat, Ababi, Kec. Abang,...
72  Jl. Kartika Plaza, Tuban, Kec. Kuta, Kabupaten...
73  Jl. Raya Tegallalang, Tegallalang, Kec. Tegall...
74  Jl. Tegal Utu, Lodtunduh, Kecamatan Ubud, Kabu...

                                Coordinate       Lat        Long Gambar
0   -8.402228546131536, 115.32296693687739 -8.402229  115.322967      V
1     -8.700234336021559, 115.176534407375 -8.700234  115.176534      V
2   -8.251298580809106, 115.39981444195475 -8.251299  115.399814      V
3   -8.173073590748519, 115.10513024047802 -8.173074  115.105130      V
4   -8.575191460385602, 115.28870189592831 -8.575191  115.288702      V
..                                     ...       ...         ...    ...
70  -8.433891714602193, 115.27918179571854 -8.433892  115.279182      V
71  -8.412071345387545, 115.58728116872855 -8.412071  115.587281      V
72   -8.72828817001415, 115.16934211106027 -8.728288  115.169342      V
73   -8.43969896624251, 115.28060749756382 -8.439699  115.280608      V
74  -8.547239248722546, 115.25742069756434 -8.547239  115.257421      V

[75 rows x 13 columns]

In [ ]:
# Melihat gambaran data place

place.head()

,Place_Id,Place_Name,Description,Weekend Holiday Price,Weekday Price,Category,City,Rating,Alamat,Coordinate,Lat,Long,Gambar
0,1,Agrowisata Satria,Agrowisata Satria menawarkan 'rasa' Bali pada ...,50000,50000,Agrowisata,Gianyar,3.0,"Manukaya, Kec. Tampaksiring, Kabupaten Gianya...","-8.402228546131536, 115.32296693687739",-8.402229,115.322967,V
1,2,Agung Bali,Dapatkan berbagai produk oleh-oleh khas Bali b...,0,0,Belanja,Badung,4.0,"Jln. Dewi Sri No.18XX, Kuta, Badung, Bali","-8.700234336021559, 115.176534407375",-8.700234,115.176534,V
2,3,Wisata Air Panas Toya Bungkah,Pemandian air panas di dekat gunung Batur (Pem...,70000,70000,Alam,Bangli,4.0,"Batur Tengah, Kec. Kintamani, Kabupaten Bangli...","-8.251298580809106, 115.39981444195475",-8.251299,115.399814,V
3,4,Air Terjun Aling-Aling,Keberadaan air terjun ini semakin mempercantik...,20000,20000,Alam,Buleleng,4.5,"Jl. Raya Desa Sambangan, Banjar, Sambangan, Ke...","-8.173073590748519, 115.10513024047802",-8.173074,115.105130,V
4,5,Air Terjun Tegenungan,Bosan dengan wisata alam pantai dan ingin meni...,20000,20000,Alam,Gianyar,4.0,"Jl. Ir. Sutami, Kemenuh, Kec. Sukawati, Kabupa...","-8.575191460385602, 115.28870189592831",-8.575191,115.288702,V

In [ ]:
place.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Place_Id               75 non-null     int64
 1   Place_Name             75 non-null     object
 2   Description            75 non-null     object
 3   Weekend Holiday Price  75 non-null     int64
 4   Weekday Price          75 non-null     int64
 5   Category               75 non-null     object
 6   City                   75 non-null     object
 7   Rating                 75 non-null     float64
 8   Alamat                 75 non-null     object
 9   Coordinate             75 non-null     object
 10  Lat                    75 non-null     float64
 11  Long                   75 non-null     float64
 12  Gambar                 75 non-null     object
dtypes: float64(3), int64(3), object(7)
memory usage: 7.7+ KB

RATING

In [ ]:
rate =  'https://drive.google.com/file/d/1O8nHRBufcBe26vB8GHicaTTqAlIcUv8E/view'

# to get the id part of the file
id = rate.split("/")[-2]

downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('tourism_rating.csv')

rating = pd.read_csv('tourism_rating.csv')
rating.head()

   User_Id  Place_Id            Nama Tempat  Place_Rating
0        1         2   Agung Bali Oleh-Oleh             3
1        1         7       Aloha Ubud Swing             5
2        1         8         Bali Bird Park             5
3        1        12      Big Garden Corner             2
4        1        13  Wanagiri Hidden Hills             5

In [ ]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_Id       3000 non-null   int64
 1   Place_Id      3000 non-null   int64
 2   Nama Tempat   3000 non-null   object
 3   Place_Rating  3000 non-null   int64
dtypes: int64(3), object(1)
memory usage: 93.9+ KB

In [ ]:
min_place_rating = 10
filter_place = (rating["Place_Id"].value_counts()>min_place_rating)
filter_place = filter_place[filter_place].index.tolist()

min_user_rating = 10
filter_user = (rating["User_Id"].value_counts()>min_user_rating)
filter_user = filter_user[filter_user].index.tolist()

data_filtered = rating[(rating["Place_Id"].isin(filter_place)) & 
                       (rating["User_Id"].isin(filter_place))]
del filter_place,filter_user,min_place_rating,min_user_rating
print('Shape User-Ratings unfiltered:\t{}'.format(rating.shape))
print('Shape User-Ratings filtered:\t{}'.format(data_filtered.shape))

Shape User-Ratings unfiltered:	(3000, 4)
Shape User-Ratings filtered:	(2250, 4)

In [ ]:
data_filtered = data_filtered.sample(frac=1).reset_index(drop=True)

n =500

df_train = data_filtered[:-n]
df_test = data_filtered[-n:]

# Matrix Factorisation With Keras And Gradient Descent

In [ ]:
# Create user- & place-id mapping
user_id_mapping = {id:i for i, id in enumerate(data_filtered['User_Id'].unique())}
place_id_mapping = {id:i for i, id in enumerate(data_filtered['Place_Id'].unique())}


# Create correctly mapped train- & testset
train_user_data = df_train['User_Id'].map(user_id_mapping)
train_place_data = df_train['Place_Id'].map(place_id_mapping)

test_user_data = df_test['User_Id'].map(user_id_mapping)
test_place_data = df_test['Place_Id'].map(place_id_mapping)


# Get input variable-sizes
users = len(user_id_mapping)
places = len(place_id_mapping)
embedding_size = 10


##### Create model

# Set input layers
user_id_input = Input(shape=[1], name='user')
place_id_input = Input(shape=[1], name='place')

# Create embedding layers for users and places
user_embedding = Embedding(output_dim=embedding_size, 
                           input_dim=users,
                           input_length=1, 
                           name='user_embedding')(user_id_input)
place_embedding = Embedding(output_dim=embedding_size, 
                            input_dim=places,
                            input_length=1, 
                            name='item_embedding')(place_id_input)

# Reshape the embedding layers
user_vector = Reshape([embedding_size])(user_embedding)
place_vector = Reshape([embedding_size])(place_embedding)

# Compute dot-product of reshaped embedding layers as prediction
y = Dot(1, normalize=False)([user_vector, place_vector])
x = Dense(1024, activation='relu')(y)
out = Dense(1, activation='sigmoid')(x)
# Setup model
model = Model(inputs=[user_id_input, place_id_input], outputs=out)
model.compile(loss='mse', optimizer='adam')


# Fit model
model.fit([train_user_data, train_place_data],
          df_train['Place_Rating'],
          batch_size=256, 
          epochs=100,
          validation_split=0.1,
          shuffle=True)

# Test model
y_pred = model.predict([test_user_data, test_place_data])
y_true = df_test['Place_Rating'].values
#  Compute RMSE
rmse = np.sqrt(mean_squared_error(y_pred=y_pred, y_true=y_true))
print('\n\nTesting Result With Keras Matrix-Factorization: {:.4f} RMSE'.format(rmse))

Epoch 1/100
7/7 [==============================] - 1s 29ms/step - loss: 14.2980 - val_loss: 13.6928
Epoch 2/100
7/7 [==============================] - 0s 7ms/step - loss: 13.9646 - val_loss: 13.3115
Epoch 3/100
7/7 [==============================] - 0s 7ms/step - loss: 13.5441 - val_loss: 12.8525
Epoch 4/100
7/7 [==============================] - 0s 8ms/step - loss: 13.0525 - val_loss: 12.3506
Epoch 5/100
7/7 [==============================] - 0s 7ms/step - loss: 12.5410 - val_loss: 11.8679
Epoch 6/100
7/7 [==============================] - 0s 8ms/step - loss: 12.0719 - val_loss: 11.4693
Epoch 7/100
7/7 [==============================] - 0s 8ms/step - loss: 11.7063 - val_loss: 11.1841
Epoch 8/100
7/7 [==============================] - 0s 8ms/step - loss: 11.4549 - val_loss: 11.0009
Epoch 9/100
7/7 [==============================] - 0s 8ms/step - loss: 11.2974 - val_loss: 10.8895
Epoch 10/100
7/7 [==============================] - 0s 8ms/step - loss: 11.2018 - val_loss: 10.8220
Epoch 11/100
7/7 [==============================] - 0s 8ms/step - loss: 11.1436 - val_loss: 10.7798
Epoch 12/100
7/7 [==============================] - 0s 8ms/step - loss: 11.1065 - val_loss: 10.7524
Epoch 13/100
7/7 [==============================] - 0s 9ms/step - loss: 11.0820 - val_loss: 10.7333
Epoch 14/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0649 - val_loss: 10.7196
Epoch 15/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0522 - val_loss: 10.7092
Epoch 16/100
7/7 [==============================] - 0s 7ms/step - loss: 11.0425 - val_loss: 10.7010
Epoch 17/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0348 - val_loss: 10.6944
Epoch 18/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0285 - val_loss: 10.6889
Epoch 19/100
7/7 [==============================] - 0s 9ms/step - loss: 11.0234 - val_loss: 10.6843
Epoch 20/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0191 - val_loss: 10.6805
Epoch 21/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0155 - val_loss: 10.6772
Epoch 22/100
7/7 [==============================] - 0s 7ms/step - loss: 11.0125 - val_loss: 10.6744
Epoch 23/100
7/7 [==============================] - 0s 7ms/step - loss: 11.0099 - val_loss: 10.6720
Epoch 24/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0077 - val_loss: 10.6700
Epoch 25/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0059 - val_loss: 10.6682
Epoch 26/100
7/7 [==============================] - 0s 9ms/step - loss: 11.0043 - val_loss: 10.6667
Epoch 27/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0030 - val_loss: 10.6654
Epoch 28/100
7/7 [==============================] - 0s 7ms/step - loss: 11.0018 - val_loss: 10.6643
Epoch 29/100
7/7 [==============================] - 0s 8ms/step - loss: 11.0009 - val_loss: 10.6633
Epoch 30/100
7/7 [==============================] - 0s 9ms/step - loss: 11.0000 - val_loss: 10.6625
Epoch 31/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9993 - val_loss: 10.6618
Epoch 32/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9987 - val_loss: 10.6612
Epoch 33/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9982 - val_loss: 10.6607
Epoch 34/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9978 - val_loss: 10.6602
Epoch 35/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9974 - val_loss: 10.6598
Epoch 36/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9971 - val_loss: 10.6595
Epoch 37/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9968 - val_loss: 10.6593
Epoch 38/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9966 - val_loss: 10.6590
Epoch 39/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9964 - val_loss: 10.6588
Epoch 40/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9963 - val_loss: 10.6586
Epoch 41/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9961 - val_loss: 10.6585
Epoch 42/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9960 - val_loss: 10.6584
Epoch 43/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9959 - val_loss: 10.6582
Epoch 44/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9958 - val_loss: 10.6581
Epoch 45/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9957 - val_loss: 10.6581
Epoch 46/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9956 - val_loss: 10.6580
Epoch 47/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9956 - val_loss: 10.6579
Epoch 48/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9955 - val_loss: 10.6578
Epoch 49/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9955 - val_loss: 10.6578
Epoch 50/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9954 - val_loss: 10.6577
Epoch 51/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9954 - val_loss: 10.6577
Epoch 52/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9954 - val_loss: 10.6577
Epoch 53/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9953 - val_loss: 10.6576
Epoch 54/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9953 - val_loss: 10.6576
Epoch 55/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9953 - val_loss: 10.6576
Epoch 56/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9953 - val_loss: 10.6575
Epoch 57/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9952 - val_loss: 10.6575
Epoch 58/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9952 - val_loss: 10.6575
Epoch 59/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9952 - val_loss: 10.6575
Epoch 60/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9952 - val_loss: 10.6575
Epoch 61/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9952 - val_loss: 10.6574
Epoch 62/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9951 - val_loss: 10.6574
Epoch 63/100
7/7 [==============================] - 0s 10ms/step - loss: 10.9951 - val_loss: 10.6574
Epoch 64/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9951 - val_loss: 10.6574
Epoch 65/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9951 - val_loss: 10.6574
Epoch 66/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9951 - val_loss: 10.6574
Epoch 67/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9951 - val_loss: 10.6574
Epoch 68/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9951 - val_loss: 10.6573
Epoch 69/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9951 - val_loss: 10.6573
Epoch 70/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9951 - val_loss: 10.6573
Epoch 71/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9951 - val_loss: 10.6573
Epoch 72/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9951 - val_loss: 10.6573
Epoch 73/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 74/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 75/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 76/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 77/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 78/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 79/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 80/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 81/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 82/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6573
Epoch 83/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 84/100
7/7 [==============================] - 0s 10ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 85/100
7/7 [==============================] - 0s 10ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 86/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 87/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 88/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 89/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 90/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 91/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 92/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 93/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 94/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 95/100
7/7 [==============================] - 0s 8ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 96/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 97/100
7/7 [==============================] - 0s 9ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 98/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 99/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572
Epoch 100/100
7/7 [==============================] - 0s 7ms/step - loss: 10.9950 - val_loss: 10.6572


Testing Result With Keras Matrix-Factorization: 3.2952 RMSE

#Deep Learning With Keras
With its embedding layers this is similar to the matrix factorization approach above, but instead of using a fixed dot-product as recommendation we will utilize some dense layers so the network can find better combinations.

In [ ]:
type(test_user_data)

pandas.core.series.Series

In [ ]:
# Create user- & place-id mapping
user_id_mapping = {id:i for i, id in enumerate(data_filtered['User_Id'].unique())}
place_id_mapping = {id:i for i, id in enumerate(data_filtered['Place_Id'].unique())}


# Create correctly mapped train- & testset
train_user_data = df_train['User_Id'].map(user_id_mapping)
train_place_data = df_train['Place_Id'].map(place_id_mapping)

test_user_data = df_test['User_Id'].map(user_id_mapping)
test_place_data = df_test['Place_Id'].map(place_id_mapping)


# Get input variable-sizes
users = len(user_id_mapping)
places = len(place_id_mapping)
embedding_size = 10

# Setup variables
user_embedding_size = 20
place_embedding_size = 10


##### Create model
# Set input layers
user_id_input = Input(shape=[1], name='user')
place_id_input = Input(shape=[1], name='place')

# Create embedding layers for users and places
user_embedding = Embedding(output_dim=user_embedding_size, 
                           input_dim=users,
                           input_length=1, 
                           name='user_embedding')(user_id_input)
place_embedding = Embedding(output_dim=place_embedding_size, 
                            input_dim=places,
                            input_length=1, 
                            name='item_embedding')(place_id_input)

# Reshape the embedding layers
user_vector = Reshape([user_embedding_size])(user_embedding)
place_vector = Reshape([place_embedding_size])(place_embedding)

# Concatenate the reshaped embedding layers
concat = Concatenate()([user_vector, place_vector])

# Combine with dense layers
dense = Dense(256)(concat)
y = Dense(1)(dense)

# Setup model
model = Model(inputs=[user_id_input, place_id_input], outputs=y)
model.compile(
    loss = "mse",optimizer ="adam"
)



# Fit model
history = model.fit([train_user_data, train_place_data],
          df_train['Place_Rating'],
          batch_size=256, 
          epochs=100,
          validation_split=0.1,
          shuffle=True)

# Test model
y_pred = model.predict([test_user_data, test_place_data])
#y_pred = model.predict([user_place_array])

y_true = df_test['Place_Rating'].values

#  Compute RMSE
rmse = np.sqrt(mean_squared_error(y_pred=y_pred, y_true=y_true))
print('\n\nTesting Result With Keras Deep Learning: {:.4f} RMSE'.format(rmse))

NameError: ignored

In [ ]:
# Menyiapkan dataframe
place_df = place[['Place_Id','Place_Name','Category','Rating','Weekend Holiday Price']]
place_df.columns = ['id','place_name','category','rating','price']
df = rating.copy()

In [ ]:
user_id = df.User_Id.sample(1).iloc[0]
place_visited_by_user = df[df.User_Id == user_id]

In [ ]:
def dict_encoder(col, data=df):

  # Mengubah kolom suatu dataframe menjadi list tanpa nilai yang sama
  unique_val = data[col].unique().tolist()

  # Melakukan encoding value kolom suatu dataframe ke angka
  val_to_val_encoded = {x: i for i, x in enumerate(unique_val)}

  # Melakukan proses encoding angka ke value dari kolom suatu dataframe
  val_encoded_to_val = {i: x for i, x in enumerate(unique_val)}
  return val_to_val_encoded, val_encoded_to_val

In [ ]:
# Encoding Place_Id
place_to_place_encoded, place_encoded_to_place = dict_encoder('Place_Id')

# Mapping Place_Id ke dataframe place
df['place'] = df['Place_Id'].map(place_to_place_encoded)

In [ ]:
# Encoding User_Id
user_to_user_encoded, user_encoded_to_user = dict_encoder('User_Id')

# Mapping User_Id ke dataframe
df['user'] = df['User_Id'].map(user_to_user_encoded)

In [ ]:
# Mendapatkan jumlah user dan place
num_users, num_place = len(user_to_user_encoded), len(place_to_place_encoded)
 
# Mengubah rating menjadi nilai float
df['Place_Rating'] = df['Place_Rating'].values.astype(np.float32)
 
# Mendapatkan nilai minimum dan maksimum rating
min_rating, max_rating = min(df['Place_Rating']), max(df['Place_Rating'])
 
print(f'Number of User: {num_users}, Number of Place: {num_place}, Min Rating: {min_rating}, Max Rating: {max_rating}')

Number of User: 100, Number of Place: 75, Min Rating: 1.0, Max Rating: 5.0

In [ ]:
# Membuat data lokasi yang belum dikunjungi user
place_not_visited = place_df[~place_df['id'].isin(place_visited_by_user.Place_Id.values)]['id'] 
place_not_visited = list(
    set(place_not_visited)
    .intersection(set(place_to_place_encoded.keys()))
)
 
place_not_visited = [[place_to_place_encoded.get(x)] for x in place_not_visited]
user_encoder = user_to_user_encoded.get(user_id)
user_place_array = np.hstack(
    ([[user_encoder]] * len(place_not_visited), place_not_visited)
)

In [ ]:
place_to_place_encoded

{1: 46,
 2: 0,
 3: 30,
 4: 47,
 5: 31,
 6: 32,
 7: 1,
 8: 2,
 9: 48,
 10: 33,
 11: 34,
 12: 3,
 13: 4,
 14: 72,
 15: 49,
 16: 58,
 17: 50,
 18: 35,
 19: 5,
 20: 51,
 21: 64,
 22: 36,
 23: 6,
 24: 65,
 25: 7,
 26: 69,
 27: 59,
 28: 70,
 29: 52,
 30: 37,
 31: 8,
 32: 38,
 33: 9,
 34: 66,
 35: 10,
 36: 11,
 37: 12,
 38: 13,
 39: 14,
 40: 15,
 41: 16,
 42: 60,
 43: 17,
 44: 53,
 45: 18,
 46: 19,
 47: 20,
 48: 21,
 49: 22,
 50: 23,
 51: 24,
 52: 25,
 53: 39,
 54: 61,
 55: 40,
 56: 54,
 57: 41,
 58: 26,
 59: 27,
 60: 55,
 61: 73,
 62: 74,
 63: 62,
 64: 42,
 65: 63,
 66: 71,
 67: 28,
 68: 29,
 69: 56,
 70: 43,
 71: 44,
 72: 45,
 73: 57,
 74: 67,
 75: 68}

In [ ]:
user_place_array
test_user_data = usersd.map(user_id_mapping)
test_place_data =placesd.map(place_id_mapping)

AttributeError: ignored

In [2]:
# Mengambil top 7 recommendation
ratings = model.predict(user_place_array,50).Flatten()
top_ratings_indices = ratings.argsort()[-7:][::-1]
recommended_place_ids = [
    place_encoded_to_place.get(place_not_visited[x][0]) for x in top_ratings_indices
]
 
print('Daftar rekomendasi untuk: {}'.format('User ' + str(user_id)))
print('===' * 15,'\n')
print('----' * 15)
print('Tempat dengan rating wisata paling tinggi dari user')
print('----' * 15)
 
top_place_user = (
    place_visited_by_user.sort_values(
        by = 'Place_Ratings',
        ascending=False
    )
    .head(5)
    .Place_Id.values
)
 
place_df_rows = place_df[place_df['id'].isin(top_place_user)]
for row in place_df_rows.itertuples():
    print(row.place_name, ':', row.category)

print('')
print('----' * 15)
print('Top 7 place recommendation')
print('----' * 15)
 
recommended_place = place_df[place_df['id'].isin(recommended_place_ids)]
for row, i in zip(recommended_place.itertuples(), range(1,8)):
    print(i,'.', row.place_name, '\n    ', row.category, ',', 'Harga Tiket Masuk ', row.price, ',', 'Rating Wisata ', row.rating,'\n')

print('==='*15)

NameError: ignored